@import url('https://fonts.googleapis.com/css?family=EB Garamond|Aprila Bold');

.Column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    height: 20%;
}

.Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-top: 18px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin-bottom: 0px;
    color: #e6ecc5;
    background-color: #000000;
    border-width: 0px;
    border-style: none;
}

i {
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 86px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 24px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
}

section {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-right: 24px;
    padding-bottom: 80px;
    padding-left: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
}

.Container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin: 15px;
    font-family: 'EB Garamond';
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'EB Garamond';
}

.Secondary {
    background-color: #fbfbfb;
}

footer {
    width: 100%;
    padding: 24px;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.Text {
    padding-right: 80px;
}

.Row {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.heading1-tmvku {
    background-color: #d1a5a5;
}

.heading1-zqzjq {
    background-color: #a96262;
}

.heading1-cua9t {
    background-color: #b63a3a;
}

.body-uii4e {
    flex-direction: row;
}

.Hero {
    background-size: cover;
    background-attachment: fixed;
    color: #e6ecc5;
    background-position-x: 50%;
    background-color: #FFFFFF;
    font-family: 'EB Garamond';
}

.header-gix7t {
    align-items: center;
}

.header-uozr0 {
    justify-content: space-between;
}

.Form {
    column-gap: 12px;
}

.Input {
    color: #000000;
    background-color: #ffffff;
}

.span-jwhjg {
    color: #FFFFFF;
}

.bold-an72e {
    font-size: 24px;
    box-shadow: 0 0 0 0 #000000;
    color: #FFFFFF;
}

.heading3-axct7 {
    color: #000000;
    font-size: 28px;
    font-family: 'EB Garamond';
}

.paragraph-gondx {
    color: #000000;
    
}

.span-i5mp4 {
    margin: 8px;
    color: #ffc9b9;
    font-size: 24px;
    font-weight: 900;
    padding: 24px;
}

.bold-1keyt {
    text-decoration: underline;
    margin: 8px;
    font-size: 24px;
}

.underline-z59zh {
    margin: 8px;
    font-size: 18px;
    font-weight: 600;
}

.image-4w62f {
    margin: 24px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-image: url('https://relate-av4mfw.s3.us-east-2.amazonaws.com/608589c71f64913f6ca663a9/voil.png');
}

.span-s38ow {
    color: #000000;
    font-size: 34px;
    font-family: 'Aprila Bold', display;
}

.span-q5q6a {
    font-size: 24px;
}

.div-mbwuf {
    color: #000000;
    letter-spacing: 1px;
    font-weight: 400;
}

.link-3fhbs {
    font-size: 20px;
}

.div-mbwuf {
    color: #000000;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
}

@media (max-width: 768px) {
    .Column {
        width: 100%;
    }
}

@media (max-width:768px) {
    .link-8nomu {
        margin: 8px;
        font-size: 36px;
    }
}

@media (max-width: 414px) {
    .span-i5mp4 {
        padding: 0px;
        margin: 0px;
    }
}
